{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block navbar %}
                    <li class="nav-item"><a class="nav-link text-danger" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/upload">Upload</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/result">Result</a></li>
{% endblock %}

{% block content %}
    <section class="hero">
      <div class="container">
        <div style="background-image: url('/static/image/main/hero-img-bg.jpg');">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
              <h1 class="display-6 fw-bold mt-5">A Huge AI Laboratory <br /> for Everyone</h1>
              <p class="lead mt-5 mb-5">The recommendation service of AI research personnel <br /> using AI model performance evaluation indicators.</p>
              <!--
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn bsb-btn-3xl btn-light gap-3">Free Consultation</button>
                <button type="button" class="btn bsb-btn-3xl btn-outline-light">Buy Credits</button>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features section">
      <div class="container">
        <div class="features-inner section-inner has-bottom-divider" style="background-image: linear-gradient(to bottom, #090B07, #DDA74F, #212529);">
          <div class="features-wrap">
            <div class="feature text-center is-revealing">
              <div class="feature-inner">
                <div class="feature-icon">
                <img src="/static/image/main/feature-icon-01.svg" alt="Feature 01">
                </div>
                <h4 class="feature-title mt-24 text-white">AI Model Catalog</h4>
              </div>
            </div>
            <div class="feature text-center is-revealing">
              <div class="feature-inner">
                <div class="feature-icon">
                <img src="/static/image/main/feature-icon-02.svg" alt="Feature 02">
                </div>
                <h4 class="feature-title mt-24 text-white">Data and Projects</h4>
              </div>
            </div>
            <div class="feature text-center is-revealing">
              <div class="feature-inner">
                <div class="feature-icon">
                <img src="/static/image/main/feature-icon-03.svg" alt="Feature 03">
                </div>
                <h4 class="feature-title mt-24 text-white">Performance Metrics Leaderboard</h4>
              </div>
            </div>
            <div class="feature text-center is-revealing">
              <div class="feature-inner">
                <div class="feature-icon">
                <img src="/static/image/main/feature-icon-04.svg" alt="Feature 04">
                </div>
                <h4 class="feature-title mt-24 text-white">Talent Recommendation</h4>
              </div>
            </div>
            <div class="feature text-center is-revealing">
              <div class="feature-inner">
                <div class="feature-icon">
                <img src="/static/image/main/feature-icon-05.svg" alt="Feature 05">
                </div>
                <h4 class="feature-title mt-24 text-white">Automatic Matching Evaluation</h4>
              </div>
            </div>
            <div class="feature text-center is-revealing">
              <div class="feature-inner">
                <div class="feature-icon">
                <img src="/static/image/main/feature-icon-06.svg" alt="Feature 06">
                </div>
                <h4 class="feature-title mt-24 text-white">Project Contract</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
