{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block navbar %}
                    <li class="nav-item"><a class="nav-link text-white" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-danger" href="/upload">Upload</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/result">Result</a></li>
{% endblock %}

{% block content %}
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="row gx-4 gx-lg-5 align-items-center">
            <form action="http://43.203.101.26:5000/uploader"
              method="POST"
              enctype="multipart/form-data">
              <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" id="analysis_title" name="analysis_title">
              </div>
              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea class="form-control" id="analysis_description" name="analysis_description" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <label class="form-label">AI Model</label>
                <select class="form-select" id="analysis_aimodel" name="analysis_aimodel">
                  {% for item in aimodel_list %}
                  <option value="{{ item[0] }}">{{ item[3] }} - {{ item[4] }}</option>
                  {% endfor %}
                </select>
              </div>    
              <div class="mb-3">
                <input class="form-control" type="file" id="analysis_file" name="analysis_file" />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
      </div>
    </section>
{% endblock %}
